<h1>Bonjour &agrave; tous</h1>
<p>Je voudrais commencer par vous remercier de m&rsquo;avoir accueilli durant la derni&egrave;re r&eacute;union HYJ et
    d&rsquo;avoir bien voulu m&rsquo;&eacute;couter et partager nos exp&eacute;riences &agrave; propos du lean .</p>
<p>A l&rsquo;origine ma passion pour le code est n&eacute; dans les ann&eacute;es 80 (et oui) avec le zx 80 et oric
    Atmos au coll&egrave;ge avec du langage BASIC, j&rsquo;&eacute;tais d&eacute;j&agrave; fascin&eacute;, (sachez que
    je n&rsquo;aborderais pas Apple dans ce sujet, d&eacute;sol&eacute; pour les adeptes).Le souvenir qu&rsquo;il me
    reste de cette &eacute;poque : les apr&egrave;s-midi et les soir&eacute;es &agrave; programmer avec mes copains qui
    poss&eacute;daient ces machines et la tentative de cr&eacute;er en cube en 3d filaire anim&eacute; , nous
    n&rsquo;avions pas peur du d&eacute;fi , et quand il est apparu , j'avoue que j'&eacute;tais piqu&eacute;,
    hame&ccedil;onn&eacute;, fascin&eacute;.</p>
<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Oric_Atmos_01a.jpg/1200px-Oric_Atmos_01a.jpg"
        width="271" height="173" /></p>
<p>Ensuite, au lyc&eacute;e (bac f2) est apparu le fameux comodore 64 , toujours en basic teint&eacute; de peek et de
    poke, un petit peu de MO5 , d'amstrad cpc464, j'adorais ces touches de couleur.</p>
<p>Puis en 86 j&rsquo;entame des &eacute;tudes en BTS &eacute;lectronique, ou j'apprends le nom de Von Neumann, sans
    comprendre alors toute la port&eacute;e de son g&eacute;nie, et le d&eacute;corticage d'un IBM pc et de sa
    programmation assembleur et les d&eacute;buts du C.(on est encore loin du lean).</p>
<p>On aborde aussi le pc ibm avec dos 4.0 et l'arriv&eacute;e de Microsoft ,et les pc IBM personnel ps1/2 et 5150,
    pc/At et pendant deux ans, je bouffe de l'assembleur sur des Intel 8088 , 80286 puis &agrave; la fin de mes
    &eacute;tudes l'arriv&eacute;e de Windows.</p>
<p>On m&rsquo;offre l&rsquo;opportunit&eacute; d&rsquo;une passerelle en passant par une ann&eacute;e de pr&eacute;pa
    pour int&eacute;grer polytech Tours, la, j'oublie tout, et me lance dans mes &eacute;tudes
    g&eacute;n&eacute;ralistes , sans pour autant me d&eacute;tacher des pc , puisque j&rsquo;ach&egrave;te mon premier
    pc Dell compack etc... et le langage PASCAL, PARADOX en base de donn&eacute;e&hellip; avec notoirement
    l'apprentissage de l'algorithmie entre autres choses ( Management ,5s, kanban , productique , m&eacute;canique,
    enfin polytech quoi....j'ai tout oubli&eacute;).</p>
<p>Entre 89 et 91 , internet arrive.... deux choses restent grav&eacute;es dans ma m&eacute;moire &agrave; cette
    &eacute;poque au niveau codage,l'algorithme de Johnson et le taquin, vous allez me dire rien &agrave; voir... Ce
    n'est pas faux ... Quoi que . Non&hellip;. L'algorithme de Johnson, car j'&eacute;tais fascin&eacute; par les
    probl&egrave;mes d'optimisation de production et d'ordonnancement lancement et me promettais de trouver un job
    s&rsquo;y rapportant, notamment dans le calcul des co&ucirc;ts optimaux dans l'ordonnancement des t&acirc;ches dans
    un atelier</p>
<p><a href="\&quot;http://chohmann.free.fr/fp_johnson\&quot;">algorithme de Johnson/JobShop</a></p>
<p>Et le taquin, car nous avions un TP &agrave; r&eacute;aliser pour sa r&eacute;solution , dans les deux cas un arbre
    &agrave; explorer , une prise de connaissance et une fascination pour les probl&egrave;mes NP complets, qui me
    voudront de tenter un <em>DEA en g&eacute;nie logiciel en m&ecirc;me temps que ma derni&egrave;re ann&eacute;e
        d'&eacute;tude d&rsquo;ing&eacute;nieur.</em></p>
<p>A mes oreilles sonne encore : r&eacute;seau de p&eacute;tri, dijkstra, complexit&eacute;, recuit simul&eacute;, etc.
    Et m&ecirc;me &agrave; l&rsquo;&eacute;poque r&eacute;seau de kohonen et retro-propagation( r&eacute;seau de
    neurones), j'envisageais une carri&egrave;re dans ces domaines.</p>
<p>Apr&egrave;s une ann&eacute;e de service volontaire en informatique dans la cci de Meurthe et moselle
    word,multiplan,excel, etc..J'ai form&eacute; une entreprise &agrave; excel une filiale de surmfitsocar (cartonnage)
    , elle me confie un CDD de 2 mois pour d&eacute;velopper dans son atelier des of avec validation par code-barre des
    op&eacute;rations , j'ai donc d&eacute;cortiqu&eacute; l'approche m&eacute;tier, adapt&eacute; leur syst&egrave;me
    AS400 +excel(vba +SQL) comme une mini gpao ,avec saisie des temps , des op&eacute;rations ,planification,
    etc...c'&eacute;tait g&eacute;nial je me suis dit que c&rsquo;est ce que je voulais faire.</p>
<p>Sauf que, sauf que, sauf que pas d&rsquo;opportunit&eacute; dans ce domaine &agrave; l'&eacute;poque sur Nancy,
    d&eacute;part vers Lyon j'ai mis 6 mois &agrave; trouver quelque chose .( Guerre du Golf oblige)...dans le
    cartonnage <strong>comme planificateur ordonnancement lancement c'est L&agrave; que ma carri&egrave;re a
        bifurqu&eacute; vers le Lean</strong> jusqu&rsquo;&agrave; maintenant, je n'ai jamais abandonn&eacute; mes
    id&eacute;es d'organisation dans l'atelier via les syst&egrave;mes d'informations, et je m'en suis servi toute ma
    carri&egrave;re, pour mettre des verrues sur les ERP des diff&eacute;rentes boites que j'ai arpent&eacute; pour
    optimiser la prod et faire vivre le lean.</p>
<p>pour info les principes :</p>
<p><a href="\&quot;http://logistique-pour-tous.fr/5p-lean/...,\&quot;">logistique-pour-tous.fr/5p-lean</a><a href="\&quot;http://chohmann.free.fr/lean/14_principes.htm\&quot;">14_principes</a></p>
<p>Au bout de 25 ans je crois que j'ai fait le tour, et comme vous, on peut pas affirmer que l'on soit
    r&eacute;compens&eacute; de nos efforts &agrave; sa juste valeur, g&eacute;rer des &eacute;quipes, c'est
    passionnant surtout quand on atteint nos objectifs, mais parfois la reconnaissance n'est pas L&agrave;, ou du moins
    pas &agrave; la hauteur, pour soi et pour ceux qui ont fait les efforts avec vous(bref un peu marre de certains de
    nos managers.)</p>
<p>Je ne pense pas que nos industries comprennent en profondeur les principes du lean : par exemple :</p>
<p><strong>fondez vos d&eacute;cisions sur une philosophie &agrave; long terme.M&ecirc;me au d&eacute;triment des
        objectifs financiers &agrave; court terme :</strong></p>
<p>entre un client qui r&eacute;clame ses produits parce qu&rsquo;on est en retard et une r&eacute;union qui analyse la
    cause des retards avec les collaborateurs et r&eacute;pond aux probl&egrave;mes, j&rsquo;ai souvent assist&eacute;
    &agrave; cette contradiction, on annule la r&eacute;union pour satisfaire le client et sa demande de
    d&eacute;lai,on trouvera des solutions plus tard &hellip;. Pendant un temps mort&hellip;. Quand on aura le temps...
    Etc, je suis s&ucirc;r que vous voyez ce que je veux dire. on peut dire qu&rsquo;&agrave; terme, c&rsquo;est usant,
    surtout quand on vous demande d&rsquo;appliquer le Lean.</p>
<p>Sur ce ,j'admets voir un probl&egrave;me avec l'autorit&eacute;, surtout quand elle contredit mes principes ,
    bienveillance, accompagnement , confiance , le mot est l&acirc;ch&eacute; , et pour me contredire, j&rsquo;ai
    souvent entendu des directeurs exprimer cette phrase "la confiance n'exclut pas le contr&ocirc;le" L&eacute;nine,
    cependant: "Que cette citation soit de L&eacute;nine, avec l&rsquo;id&eacute;e que je me fais de la confiance dans
    l&rsquo;univers sovi&eacute;tique, n&rsquo;arrange pas les choses. (ce n&rsquo;est pas de moi.)" et j&rsquo;avoue y
    avoir cru a mes d&eacute;buts, et il y a toujours des abus, dans tous les domaines de la soci&eacute;t&eacute;,
    mais je pr&eacute;f&egrave;re me dire responsable de ses actes, que ceux qui veulent am&eacute;liorer leur
    qualit&eacute; de travail je pourrais les accompagner avec bienveillance et confiance. Cependant, ce n&rsquo;est
    pas ce qui pr&eacute;vaut dans l&rsquo;industrie et oserais-je dire dans les services.</p>
<p>Bref, plut&ocirc;t que de satisfaire &agrave; des objectifs d&rsquo;entreprise aux profits
    d&rsquo;int&eacute;r&ecirc;ts d&rsquo;actionnaires, voir de directeur , ou de manager, je me suis dit apr&egrave;s
    une &eacute;ni&egrave;me opportunit&eacute;(licenciement ),pourquoi ne pas devenir libre et ind&eacute;pendant pour
    m&rsquo;accomplir et exercer un m&eacute;tier qui m&rsquo;anime.</p>
<p>Je veux saisir <strong>l&rsquo;opportunit&eacute; de r&eacute;aliser mes propres projets</strong>, acqu&eacute;rir
    de nouvelles comp&eacute;tences et les d&eacute;montrer et &eacute;voluer.Je cherche &agrave; donner un sens
    &agrave; mon projet professionnel et en tirer de la reconnaissance, je veux &eacute;crire mon futur, &ecirc;tre mon
    propre patron. Et comme certains cuisiniers qui font leur &laquo; cooking out &raquo; en revenant &agrave;
    l&rsquo;essentiel, au local, je fais mon <span style="background-color: #ffff00;"><strong>&laquo; coding out
            &raquo; .</strong></span></p>
<p>D&rsquo;autres ont r&eacute;alis&eacute; ce type de reconversion , le moins que l&rsquo;on puisse dire, c&rsquo;est
    qu&rsquo;il faut &ecirc;tre pers&eacute;v&eacute;rant pour r&eacute;ussir, je suis pr&ecirc;t &agrave; repartir de
    z&eacute;ro:</p>
<p>deux vid&eacute;os exemples de reconversion:</p>
<p><a href="\&quot;https://www.youtube.com/watch?v=nRvMB-muX3c\&quot;">de chef d'entreprise &agrave; avocat</a></p>
<p><a href="\&quot;http://www.filiere-gourmande.fr/actualite/graines-de-rebelles-boulanger-roland-feuillas-se-livre/\&quot;">le
        boulanger de cucugnan</a></p>
<p>Cependant, actuellement, deux obstacles me taraudent :</p>
<blockquote>
    <h4>suis-je assez fort pour ne reposer que sur mes comp&eacute;tences (le fameux syndrome de l&rsquo;imposteur ?)</h4>
    <h4>Si je suis assez fort pour mon boulot, est-ce que je le suis assez pour le vendre ?</h4>
</blockquote>
<p><span style="color: #ff9900;">Alors je serais &agrave; l&rsquo;&eacute;coute de vos avis concernant mon approche
        pour obtenir des missions aupr&egrave;s de futur client , et aussi les qualit&eacute;s &agrave; mettre en avant
        :</span></p>
<p><span style="color: #ff0000;">j&rsquo;ai un DEA en g&eacute;nie Logiciel et ing&eacute;nieur Polytech</span></p>
<p><span style="color: #ff0000;">j&rsquo;ai une large exp&eacute;rience industrielle dans le domaine du lean management</span></p>
<p><span style="color: #ff0000;">j&rsquo;assiste &agrave; des meetup : coding dojo, TDD,DDD</span></p>
<p><span style="color: #ff0000;">je d&eacute;veloppe en frontend , framework vuejs</span></p>
<p><span style="color: #ff0000;">j&rsquo;ai mont&eacute; un serveur autoheberger sous debian 9 ou se trouve mon site
        internet</span></p>
<p><span style="color: #ff0000;">j&rsquo;ai d&eacute;velopp&eacute; quelques applications au cours de ma vie
        professionnelle en vba et sql</span></p>
<p><span style="color: #ff0000;">je fais partie de la communaut&eacute; HYJ</span></p>
<p><span style="color: #ff0000;">j&rsquo;ai envie de faire un job qui me passionne</span></p>
<p>Merci d&rsquo;&ecirc;tre rest&eacute; jusqu&rsquo;au bout , parfois je n&rsquo;arrive pas &agrave;
    m&rsquo;arr&ecirc;ter.A bient&ocirc;t</p>
<p><a href="\&quot;https://valorisetonweb.fr/\&quot;">Mon site web (pas termin&eacute;)</a></p>
<p><a href="\&quot;https://github.com/specialjcg\&quot;">mon github (en cours et amateur)</a></p>
<p><a href="\&quot;jcg@valorisetonweb.fr\&quot;">jcg@valorisetonweb.fr</a></p>
<p><a href="\&quot;https://www.linkedin.com/in/gouleaujeancharles/\&quot;">https://www.linkedin.com/in/gouleaujeancharles/</a></p>
<p><a href="\&quot;https://twitter.com/GouleauJ\&quot;">twitter ?</a></p>
<h2><strong><span style="background-color: #00ff00;">"We can only see a short distance ahead,but we can see plenty
            there that needs to be done." &mdash; Alan Turing</span></strong></h2>